* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    gap: 1rem;
}

p {
    visibility: hidden;
    color: red;
    text-decoration: underline;
}

p.visible {
    visibility: visible;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main > div > button {
    padding: .5em;
}

table {
    display: inline-block;
}

td {
    border: 1px solid;
    text-align: center;
}

td:nth-child(3) {
    border-right: solid;
}

td:nth-child(7) {
    border-left: solid;
}

tr:nth-child(3) td {
    border-bottom: solid;
}

tr:nth-child(7) td {
    border-top: solid;
}

input {
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}